* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Georgia, serif;
}
body {
    min-height: 100vh;
    background: #f5f5f5;
    position: relative;
    padding-bottom: 150px;
}
h3{
    padding-top: 20px;
    font-size: 3.4em;
    text-align: center;
}