* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Georgia, serif;
    min-height: 100vh;
    min-width: none;
    background: #f5f5f5;
}
