*{
    margin : 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Georgia, serif;
    background-image: url('../img/background_inscription.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    position: relative;
    padding-bottom: 150px;
}

.successMessage{
    text-align: center;
    padding: 20px;
    color: white;
	background-color: green;
}

.errorMessage{
    text-align: center;
    padding: 20px;
    color: white;
	background-color: red;
}


.form-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 550px;
    text-align: center;
    box-sizing: border-box;
    position: relative; 
    color: #000; 
}

.modal2{
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    position: relative;
}

.modal2 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box; 
}

.modal2 button {
    background-color: lightslategray;
    color: white;
    padding: 12px 14px;
    margin: 10px 0; 
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%; 
}

@media screen and (max-width: 850px) {
    .form-container {
        width: 80%;
        max-width: 400px; 
    }
}


